.col-md-3
  %h3 Done
  .list-group
    - @tasks.each do |task|
      - if task.status.name == "Done"
        = link_to project_task_path(task.project, task), class:"list-group-item" do
          %h4.list-group-item-heading= task.name
          %p.list-group-item-text= task.desc
          %p.list-group-item-text= task.author.email
          - if task.owner
            %p.list-group-item-text= task.owner.email
          %p.list-group-item-text.text-muted= "Number of comments: #{task.comments.size}"