.col-md-6.col-md-offset-3
  %h3.text-center Update Task
  = form_for @task do |f|
    - if @task.errors.any?
      #error_explanation.well.well-sm
        %p.text-center.text-muted= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li.text-danger= msg

    .form-inputs{ @task.errors.messages[:name] ? {class: "has-error"} : {} }
      .form-group= f.text_field :name, class: 'form-control', placeholder: 'Name of task.'
    .form-inputs{ @task.errors.messages[:desc] ? {class: "has-error"} : {} }
      .form-group= f.text_area :desc, class: 'form-control', placeholder: 'Description of your task.'
    .form-inputs{ @task.errors.messages[:owner_id] ? {class: "has-error"} : {} }
      .form-group= f.text_field :owner_id, class: 'form-control', placeholder: 'Owner of task'
    .form-inputs{ @task.errors.messages[:status] ? {class: "has-error"} : {} }
      .form-group= f.association :statuses, as: :select


    .form-actions
      = f.submit 'Update Task', class: 'btn btn-default btn-block'