.col-md-6.col-md-offset-3
  %h3.text-center Update Task
  = simple_form_for [@project, @task] do |f|
    - if @task.errors.any?
      #error_explanation.well.well-sm
        %p.text-center.text-danger= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
    .form-inputs
      = f.input :name, placeholder: 'Name of task.'
      = f.input :desc, placeholder: 'Description of your task.'
      = f.association :owner, collection: @users
      = f.association :status
    .form-actions
      = f.submit 'Update Task', class: 'btn btn-default btn-block'
