.row
  .col-md-3
    %h3 To Do
    .list-group
      - @tasks.each do |t|
        = link_to task_path(t.id), class:"list-group-item" do
          %h4.list-group-item-heading= t.name
          %p.list-group-item-text= t.desc
          %p.list-group-item-text= t.author.email
          - if t.owner
            %p.list-group-item-text= t.owner.email
          %p.list-group-item-text.text-muted= "Number of comments: xx"


  .col-md-3
    %h3 In Progress
    .list-group

  .col-md-3
    %h3 Testing
    .list-group

  .col-md-3
    %h3 Done
    .list-group