.col-md-6.col-md-offset-3
  %h3.text-center Create Task
  = simple_form_for [@project, @task] do |f|
    - if @task.errors.any?
      #error_explanation.well.well-sm
        %p.text-center.text-danger= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
    = f.input :name, placeholder: 'Name of task.'
    = link_to 'Markdown supported', 'https://guides.github.com/features/mastering-markdown/', class: 'small'
    = f.input :markdown_desc, placeholder: 'Use Markdown to post your description', :input_html => { 'rows' => 10 }

    .form-actions
      = f.submit 'Save Task', class: 'btn btn-default btn-block'