.col-md-6.col-md-offset-3
  %h3.text-center Create Task
  = simple_form_for @task do |f|
    - if @task.errors.any?
      #error_explanation.well.well-sm
        %p.text-center.text-danger= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
    = f.input :name, placeholder: 'Name of task.'
    = f.input :desc, placeholder: 'Description of your task.'
    .form-actions
      = f.submit 'Save Task', class: 'btn btn-default btn-block'