.col-md-6.col-md-offset-3
  .panel.panel-primary
    .panel-heading
      %h3
        = @task.name
        = link_to "Edit Task", edit_project_task_path(@project, @task), class: 'btn btn-warning btn-sm pull-right'
    .panel-body
      .desc
        = @task.description
    .panel-footer
      %p
        %span.text-muted Task author:
        =@task.author.name
      - if @task.owner
        %p
          %span.text-muted Task owner:
          = @task.owner.name
      %p
        %span.text-muted Rised at:
        = @task.created_at.strftime("%e.%m.%Y")
      %p
        %span.text-muted Updated at:
        = @task.updated_at.strftime("%e.%m.%Y")
      %p
        %span.text-muted Status of task:
        = @task.status.name

  %hr/
  = render 'comments/new'
  = render 'comments/index'
