.col-md-offset-3
  .col-md-6
    .list-group
      %h3.list-group-item-heading= @task.name
      %p.list-group-item-text= @task.desc
      %hr/
      %p.list-group-item-text= "Task author: #{@task.author.name}"
      - if @task.owner
        %p.list-group-item-text= "Task owner: #{@task.owner.name}"
      %p.list-group-item-text.text-muted= "Created at: #{@task.created_at.strftime("%e.%m.%Y")}"
      %p.list-group-item-text.text-muted= "Updated at: #{@task.updated_at.strftime("%e.%m.%Y")}"
      %p.list-group-item-text= "Status of task: #{@task.status.name}"
      %hr/
      .btn.btn-default= link_to "Edit Task", edit_project_task_path(@project, @task)

      %hr/
      = render 'comments/new'
      = render 'comments/index'
