- unless @users.empty?
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th First Name
        %th Last Name
        %th Email
        %th Tasks created
        %th Tasks owned
    %tbody
      - @users.each do |user|
        %tr
          %th= user.id
          %td= user.firstname
          %td= user.lastname
          %td= user.email
          %td= user.amount_author_tasks
          %td= user.amount_owner_tasks
