.col-md-6.col-md-offset-1
  .row
    %h2 Projects
    = link_to "New project", new_project_path, class: "btn btn-success"
    - unless @projects.empty?
      %table.table.table-striped
        %tbody
          - @projects.each do |project|
            %tr
              %td= project.id
              %td= link_to project.title, project_path(project)
              %td= link_to "Tasks", project_tasks_path(project)
              %td= project.author.name

.col-md-4
  .row
    %h2 News feed
    %br
    = render 'shared/activities'
