.col-md-2
  %h4
    Project tasks count
  - @statuses.each do |s|
    %h5
      = s.name + ": " + @tasks.with_status(s).count.to_s
  = link_to "Go to tasks", project_tasks_path(@project), class: "btn btn-info btn-sm"


.col-md-6.col-md-offset-1
  .row
    %h1
      = @project.title
    %h3
      = "Description: " + @project.desc
    %h3
      = "Created: " + @project.created_at.strftime("%d/%m/%Y")
    %h3
      = "Author: " + @project.author_name
    %br
    - if current_user == @project.author
      %p= link_to "Edit project", edit_project_path(@project), class: "btn btn-warning"
      %p= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Are you completely sure???" }, class: "btn btn-danger"
    %br
    %h4 Users in project

    %table.table.table-striped
      %tr
        %th
          User name
        %th
          Tasks created
        %th
          Tasks owned
        %th
      %tr
        %td
          = @project.author_name
        %td
          = @tasks.authored_by(@project.author).count
        %td
          = @tasks.owned_by(@project.author).count
        %td

        - @project.users.each do |u|
          %tr
            %td
              = u.name
            %td
              = @tasks.authored_by(u).count
            %td
              = @tasks.owned_by(u).count
            %td
              - if current_user == @project.author
                .pull-right
                  = link_to "Delete user from project", project_project_users_path(@project, user_id: u), method: :delete, class: "btn btn-danger btn-xs"

.col-md-2.col-md-offset-1
  - if current_user == @project.author
    %h4
      Add users to project
    %br
      %table.table.table-condensed
        - @users.each do |u|
          %tr
            %td
              = u.name
            %td
              = link_to "Add", project_project_users_path(@project, user_id: u), method: :post, class: "btn btn-success btn-xs"
